test.pgt
пример кода.doc
test.py
pgt
test.cpp
test2.pgt
*pgt
demo.txt
a.out.c
test.txt
.codex
pgt.mod
server.log
messages.json
app.sql
app.db
app.sqlite
gggg/docker-compose.yml
gggg/Dockerfile
gggg/README.md
gggg/nginx/default.conf
hki/docker-compose.yml
hki/Dockerfile
hki/README.md
hki/nginx/default.conf
